<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.cefetmg.iot.aula7">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="App IoT"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TemperaturaRecenteActivity" />
        <activity android:name=".TemperaturasActivity" />
        <activity android:name=".TemperaturaAtualizarActivity"></activity>
        <activity android:name=".UmidadeRecenteActivity" />
        <activity android:name=".UmidadesActivity" />
        <activity android:name=".UmidadeAtualizarActivity"></activity>
        <activity android:name=".AtuadorRecenteActivity" />
        <activity android:name=".AtuadoresActivity" />
        <activity android:name=".AtuadorAtualizarActivity"></activity>
    </application>

</manifest>